extends layout

block content
  .row
    .col-sm-10.col-sm-offset-1
      .jumbotron.homewelcome
        h1 #{title}
  .row
    .col-sm-3.col-sm-offset-1
      input.word-input.form-control(type='text', placeholder='Input Word')
    .col-sm-1
      div From:
    .col-sm-2
      .dropdown-form
        select.form-control.translate-from
          for language in languages
            option(value=language.code)= language.name
    .col-sm-1
      div To:
    .col-sm-2
      .dropdown-form
        select.form-control.translate-to
          for language in languages
            option(value=language.code)= language.name
  .row.btn-submit
    .col-sm-4.col-sm-offset-8.pull-right
      button.btn-lg Submit Button

block scripts